$primary-color: #333;
$second-color: #777;
$third-color: #fff;
$fourth-color: #555;
$fifth-color: #aaf;
$font-base-size: 20px;
$font-family-default: 'Courier New', Courier, monospace;
$border-radius-primary: 3px;
$margin-default: 0;
$text-align-primary: center;
$text-align-secondary: right;
$primary-border: 1px solid #555;
$cursor-default: pointer;
$default-position: absolute;
$default-shadow: #000 0 0 15px;
